<h1>Cheat Mode for Game: <%= "#{params[:id]}" %></h1>

<h3><%= link_to("Sound Chits",  game_sound_chits_path(game_id: params[:id])) %></h3>
<h3><%= link_to("Treasures",  game_treasures_path(game_id: params[:id])) %></h3>
<h3><%= link_to("Players",  game_players_path(game_id: params[:id])) %></h3>
<h3><%= link_to("Monsters",  game_monsters_path(game_id: params[:id])) %></h3>
<h3><%= link_to("Special Chits",  game_special_chits_path(game_id: params[:id])) %></h3>
<h3><%= link_to("Gold Sites",  game_gold_sites_path(game_id: params[:id])) %></h3>
<h3><%= link_to("Discovered Chits",  game_discovered_chits_clearings_path(game_id: params[:id])) %></h3>
<h3><%= link_to("Found Hidden Paths",  game_found_hidden_paths_path(game_id: params[:id])) %></h3>
<h3><%= link_to("Found Hidden Passages",  game_found_hidden_passages_path(game_id: params[:id])) %></h3>

<%= form_for :game, url: game_path, html: { method: :patch } do |f| %>
  <b>Turn: </b><%= f.text_field :turn, :value => @game.turn %><br>
  <b>Prowling Row: </b><%= f.text_field :prowling_row, :value => @game.prowling_row %><br>
  <%= f.submit "Update" %>
<% end %>
