<h1>Gold Site New</h1>

<%= form_for :gold_site, url: game_gold_site_index_path, html: { method: :post } do |f| %>
  <b>Game</b> <%= f.text_field :game_id, :value => "#{params[:game_id]}" %></br>
  <b>Name</b> <%= f.text_field :name %></br>
  <b>Tile ID</b> <%= f.text_field :tile_id %></br>
  <b>Tile Clearing Number</b> <%= f.text_field :tile_clearing_number %></br>
  <b>Internal Clearing ID</b> <%= f.text_field :clearing_id %></br>
  <b>In Lost City</b> <%= f.text_field :lost_city %></br>
  <b>In Lost Castle</b> <%= f.text_field :lost_castle %></br>
  <%= f.submit "New!" %>
<% end %>
